@import "resources/css/sass/geralImports.scss";

@mixin headerStyle {
    #HomePages_div,
    #SubHomePages_div {
        h1 {
            @include Titulo3_SS();
            font-size: 2vw;

            h1 {
                @include Titulo1_S();
                font-size: 5vw;
                display: inline-block;
                line-height: 125%;
                margin-right: 0.8vw;
            }
        }
    }

    #Contents_div {
        h1 {
            @include Titulo1_S();
            text-transform: uppercase;
            font-size: 3.4vw;
            line-height: 4.3vw;
        }
        div {
            display: flex;
            gap: 2vw;
            h6 {
                @include Fonte2_SS;
                font-size: 1vw;
                color: $gray3;
            }
        }
    }
}

@mixin headerStyle2 {
    #HomePages_div,
    #SubHomePages_div {
        h1 {
            @include Titulo3_SS();
            font-size: 2vw;

            h1 {
                @include Titulo1_S();
                font-size: 5.5vw;
                display: inline-block;
                line-height: 125%;
                margin-right: 0.8vw;
            }
        }
    }

    #Contents_div {
        h1 {
            @include Titulo1_S();
            text-transform: uppercase;
            font-size: 5vw;
            line-height: 8vw;
        }
        div {
            display: flex;
            gap: 3vw;
            h6 {
                @include Fonte2_SS;
                font-size: 1.6vw;
                color: $gray3;
            }
        }
    }
}


@mixin headerStyle3 {
    #HomePages_div,
    #SubHomePages_div {
        padding: 3.4vw 4vw 2vw 4vw;
        width: 100%;
        border-bottom: 3px solid $yellow;

        h1 {
            @include Titulo3_SS();
            font-size: 3.6vw;

            h1 {
                @include Titulo1_S();
                font-size: 7.8vw;
                display: inline-block;
                line-height: 112%;
                margin-right: 0.8vw;
            }
        }
    }

    #Contents_div {
        padding: 4vw 4vw 2.5vw 4vw;
        border-bottom: 3px solid $yellow;
        width: 100%;

        h1 {
            @include Titulo1_S();
            text-transform: uppercase;
            font-size: 7vw;
        }
        div {
            display: flex;
            margin-top: 1.4vw;
            gap: 5vw;
            h6 {
                @include Fonte2_SS;
                font-size: 2.3vw;
                color: $gray3;
            }
        }
    }
}