@import "resources/css/sass/geralImports.scss";

@mixin headerStyle {
    #HomePages_div,
    #SubHomePages_div {
        h1 {
            @include Titulo3_SS();
            font-size: 2vw;

            h1 {
                @include Titulo1_S();
                font-size: 5vw;
                display: inline-block;
                line-height: 125%;
                margin-right: 0.8vw;
            }
        }
    }

    #Contents_div {
        h1 {
            @include Titulo1_S();
            text-transform: uppercase;
            font-size: 3.4vw;
            line-height: 4.3vw;
        }
        div {
            display: flex;
            gap: 2vw;
            h6 {
                @include Fonte2_SS;
                font-size: 1vw;
                color: $gray3;
            }
        }
    }
}

@mixin headerStyle2 {
    #HomePages_div,
    #SubHomePages_div {
        h1 {
            @include Titulo3_SS();
            font-size: 2vw;

            h1 {
                @include Titulo1_S();
                font-size: 5.5vw;
                display: inline-block;
                line-height: 125%;
                margin-right: 0.8vw;
            }
        }
    }

    #Contents_div {
        h1 {
            @include Titulo1_S();
            text-transform: uppercase;
            font-size: 5vw;
            line-height: 8vw;
        }
        div {
            display: flex;
            gap: 3vw;
            h6 {
                @include Fonte2_SS;
                font-size: 1.6vw;
                color: $gray3;
            }
        }
    }
}
