@import "resources/css/sass/geralImports.scss";

@mixin bigTitleConf {
    @include Titulo1_S();
    font-size: 5vw;
    display: inline-block;
    line-height: 125%;
    margin-right: 0.8vw;
}

@mixin headerStyle {
    #HomePages_div,
    #SubHomePages_div {
        h1 {
            @include Titulo3_SS();
            font-size: 2vw;

            h1 {
                @include bigTitleConf();
            }
        }
    }

    #Contents_div {
        h1 {
            @include Fonte1_SS();
            text-transform: uppercase;
            font-size: 3.4vw;
        }
        div{
            display: flex;
            gap: 2vw;
            h6{
                @include Fonte2_SS;
                font-size: 1vw;
                color: $gray3;
            }
        }
    }
}
