@@Muitos já ouviram falar do famoso hidromel, a bebida considerada a mais antiga do mundo, sempre atrelada à realeza e luxo. Tem uma presença fortíssima na cultura de muitos povos como os vikings, gregos e celtas. Até mesmo no Brasil o hidromel tem um pedaço de sua história construída pelos jesuítas - que faziam a bebida a partir do mel das abelhas nativas do Brasil! Neste artigo, você aprenderá o que há de mais importante sobre a bebida. Desde a sua história até a maneira ideal de apreciá-la@@.
+-+
`{medium-left}{Rainha Elizabeth bebendo hidromel}`
@@@Inclusive, a Rainha Elizabeth tem sua receita preferida! $$Veja mais sobre isso[sanguanel.com]$$.@@@

##Afinal, O Que É Hidromel?##
@@O hidromel é uma bebida com características únicas - caso você já tenha experimentado, saberá do que estou falando. Apesar de ser um erro querer compará-lo a bebidas como o vinho, seu processo de produção é muito semelhante. A bebida viking é um fermentado de mel, água e, no caso dos meloméis, frutas e outras especiarias. Vendo por esse modelo resumido, parece muito simples produzir um bom hidromel, mas na realidade existem diversas variáveis que um hidromeleiro experiente cuida. Dentre elas: temperatura, qualidade do mel, qualidade da água, origem das leveduras, nutrição das leveduras, processo de maturação, processo de clarificação, entre tantas outras! No Brasil, o hidromel é regulado através do * **Decreto n. 6.871, de 4 de junho de 2009** * entre **4%** e **14% de teor alcoólico**.@@

@@@LEIA MAIS SOBRE A PRODUÇÃO $$AQUI[sanguanel.com]$$@@@
`[]`
#A História Do Hidromel
@@Tão envolvente quanto à bebida, é a sua história. O hidromel tem um passado milenar, data-se que os primeiros registros do mesmo foram em aproximadamente 7.000A.C ^^(KRISTBERGSSON, Kristberg, OLIVEIRA, JORGE. Traditional foods General and Consumer Aspects, 2016)^^, na China. A receita deste primeiro registro era uma mistura de mel, arroz e uvas silvestres e é a evidência mais antiga de uma bebida alcoólica.@@

###VIKINGS###
@@Na famosa mitologia viking, o hidromel nasceu a partir da morte do Deus da sabedoria, *Kvasir*. Quando foi assassinado, os anões adicionaram cerveja ao seu sangue o que originou o hidromel e aquele que consumisse a bebida teria o conhecimento de Kvasir.@@

####GREGOS####
@@Entre os Gregos o hidromel era parte da alimentação divina dos deuses, no *Olimpo*. Era comumente consumido junto com a ambrosia, tanto é que um dos nomes para o hidromel é **ambrosia**.@@

#####CELTAS#####
@@Na cultura celta, o hidromel tinha caráter afrodisíaco e de fertilidade, por isso era sempre amplamente consumido. Em cerimônias religiosas e durante um ciclo lunar, dando origem ao termo “lua de mel”.@@

@@Não é por acaso que uma bebida com tanta história volta a se tornar cada vez mais popular nos dias de hoje. Com o aumento da produção de mel no Brasil para aproximadamente **40.000.000Kg** de mel ao ano. Temos uma oportunidade cada vez maior de desenvolver esse mercado que hoje, nos estados unidos, tem uma participação enorme no mercado de alcoólicos.@@