





@mixin anchor($c1, $c2) {
color: $c1;

    transition-duration: 200ms;
            transition-property: color;
             
             &:hover{
                 color: $c2;
             }
}




@mixin SVGHold {
    svg:hover path{
        fill: $yellow;
    
        transition: 300ms;
        transition-property: fill;
    }
    svg path{
        fill: $white;
    
        transition: 600ms;
        transition-property: fill;
    }
    }
    
    @mixin SVGHold2 {
        svg:hover path{
            fill: $yellow;
        
            transition: 300ms;
            transition-property: fill;
        }
        svg path{
            fill: $black;
        
            transition: 600ms;
            transition-property: fill;
        }
        }