@mixin buttonT($c1, $c2, $c3, $c4) {
    background-color: $c1;
    color: $c3;

    transition-duration: 200ms;
    transition-property: background-color, color;

    &:hover {
        background-color: $c2;
        color: $c4;
    }
}

@mixin anchorT($c1, $c2) {
    color: $c1;

    transition-duration: 200ms;
    transition-property: color;

    &:hover {
        color: $c2;
    }
}
@mixin anchorA($c1, $c2) {
    color: $c1;
    border-bottom: 1px solid $black;

    transition-duration: 200ms;
    transition-property: color, border-radius border-bottom;

    &:hover {
        color: $c2;
        border-radius: 100%;
        border-bottom: 0px;

    }
}

@mixin SVGHold($c1, $c2) {
    svg:hover path,  svg:hover rect, svg:hover polygon {
        fill: $c2;

        transition: 300ms;
        transition-property: fill;
    }
    svg path,  svg rect, svg polygon {
        fill: $c1;

        transition: 600ms;
        transition-property: fill;
    }
}


